.ImageSearch {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 10px;

  .buttonContainer {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
  }

  .photos {
    display: grid;
    justify-items: center;
    gap: 20px;
    img {
      width: 80%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
}
