.Twitch {
  display: grid;
  margin: 10px;

  .buttonContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .resultsContainer {
    padding: 0;
    border: solid 1px black;

    .streamer {
      display: grid;
      grid-template-columns: 1fr 2fr 3fr;
      width: 100%;
      border: solid 1px black;
      min-height: 80px;
      align-items: center;
      text-align: center;

      .logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: solid 2px black;
        margin-left: 5px;
      }

      a {
        font-size: 16px;
      }

      &.online {
        background-color: rgb(241, 233, 212);
        color: rgb(8, 32, 2);
        a {
          color: rgb(8, 32, 2);
        }
      }
    }
  }
}

//tablet
@media only screen and (min-width: 768px) {
  .Twitch {
    display: grid;
    margin: 30px;

    .buttonContainer {
      margin: 0 auto;
      width: 60%;
    }

    .resultsContainer {
      .streamer {
        grid-template-columns: 1fr 1fr 5fr;

        .logo {
          width: 50px;
          height: 50px;
          margin-left: 20px;
        }
      }
    }
  }
}

//laptop
@media only screen and (min-width: 1440px) {
  .Twitch {
    .buttonContainer {
      width: 30%;
    }

    .resultsContainer {
      margin-top: 50px;
    }
  }
}

//big screen
@media only screen and (min-width: 1920px) {
  .Twitch {
    .resultsContainer {
      margin: 50px auto;
      width: 70%;
    }
  }
}
