.Card {
  position: relative;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  width: 400px;
  height: 575px;
  border: solid 2px black;
  border-radius: 10px;
  backface-visibility: hidden;
  background-color: rgb(241, 233, 212);

  &.flipped {
    transform: rotateY(-180deg);
  }

  &:hover {
    cursor: pointer;
  }
}
