.ProjectCard {
  justify-self: center;
  border-radius: 10px;
  width: 150px;
  height: 150px;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
  border: rgb(241, 233, 212) 2px solid;

  &:hover {
    cursor: pointer;
  }

  .link {
    font-size: 16px;
    color: rgb(241, 233, 212);
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 20%;
    line-height: 20px;
  }
}

//tablet
@media only screen and (min-width: 768px) {
  .ProjectCard {
    width: 200px;
    height: 200px;
    padding: 10px;

    .link {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
