.Home {
  margin: 30px 10px 0 10px;

  .content {
    display: grid;
  }

  .subheading {
    font-weight: normal;
    text-align: right;
  }

  .projectContainer {
    margin: 30px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    row-gap: 30px;
  }
}
