html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(8, 32, 2);
  color: rgb(241, 233, 212);
}

* {
  box-sizing: border-box;
  font-family: monospace;
}

.toolbar {
  display: flex;
  margin: 5px;
}

.link {
  color: rgb(241, 233, 212);
  text-underline-offset: 20%;

  &:hover {
    cursor: pointer;
    text-underline-offset: 20%;
  }
}
