.tourmaline {
  background-color: #85a1ac;
}

.peri {
  background-color: #6868ac;
}

.pink {
  background-color: #e9435e;
}

.cornsilk {
  background-color: #ecc371;
}

.projectsContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Home {
  text-align: center;
  .link {
    color: #85a1ac;
    text-decoration: underline 0.1em #85a1ac;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 300ms, text-underline-offset 300ms,
      color 300ms;

    &:hover {
      cursor: pointer;
      color: #6868ac;
      text-decoration-color: #6868ac;
      text-underline-offset: 0.4em;
    }
  }
}
