.SimonGame {
  display: grid;
  justify-content: center;
  justify-items: center;
  .gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .square {
      width: 10rem;
      height: 10rem;
      border: none;

      &.highlighted {
        filter: opacity(50%);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
