.WriteUp {
  margin: 30px 10px;

  .title {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    margin: 10px 0;
  }

  .linkContainer {
    text-align: center;
    margin: 10px 0;
  }

  .content {
    font-size: 16px;
    display: grid;
    row-gap: 20px;

    .userStories {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 10px 0;

        &:before {
          content: ">";
          padding-right: 5px;
        }
      }
    }
  }
}

//tablet
@media only screen and (min-width: 768px) {
  .WriteUp {
    margin: 50px 30px;

    .title {
      font-size: 48px;
      margin: 20px 0;
    }

    .linkContainer {
      margin: 30px 0;
    }

    .content {
      font-size: 16px;
      row-gap: 30px;

      .userStories {
        li {
          padding: 15px 0;
        }
      }
    }
  }
}

//laptop
@media only screen and (min-width: 1440px) {
  .WriteUp {
    margin: 50px 100px;

    .content {
      .userStories {
        margin-left: 30px;
      }
    }
  }
}
